version: 2
updates:
- package-ecosystem: gomod
  directory: /
  schedule:
    interval: monthly
  labels:
  - enhancement
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: monthly
  labels:
  - enhancement
