/.flatpak-builder
/.vagrant
/COMMIT
/bin/actionlint
/bin/chezmoi
/bin/editorconfig-checker
/bin/find-typos
/bin/gofumpt
/bin/golines
/bin/golangci-lint
/bin/goreleaser
/bin/goversioninfo
/builddir
/chezmoi
/chezmoi.exe
/coverage.out
/dist
/repo
/resource_windows_*.syso
/versioninfo.json
