* -text

# Make GitHub language breakdown more accurate, see https://github.com/github/linguist
assets/scripts/install.sh linguist-generated
assets/scripts/install-local-bin.sh linguist-generated
completions/* linguist-generated
