* -text

# Make GitHub language breakdown more accurate, see https://github.com/github/linguist
*.gen.go linguist-generated
.devcontainer/* linguist-vendored
assets/scripts/install.sh linguist-generated
completions/* linguist-generated
