# Variables

{{ $lastSectionValue := "" -}}
{{ range $sectionName, $variables := .sections -}}
{{   $sectionValue := "" -}}
{{   if $sectionName -}}
## `{{ $sectionName }}`

{{   else -}}
## Top level

{{   end -}}

{{   range $variableName, $variable := $variables -}}
{{     with $variable -}}
{{       $nameValue := $variableName -}}
{{       if regexMatch "\\A\\w+\\z" $nameValue -}}
{{         $nameValue = printf "`%s`" $nameValue -}}
{{       end -}}
{{       $defaultValue := "*none*" -}}
{{       if eq .type "bool" -}}
{{         $defaultValue = "`false`" -}}
{{       end -}}
{{       $slug := $variableName | slugify -}}
{{       if $sectionName -}}
{{         $slug = printf "%s.%s" $sectionName $variableName | slugify -}}
{{       end -}}
{{       $title := printf "`%s.%s`" $sectionName $variableName -}}
{{       if not $sectionName -}}
{{         $title = $variableName -}}
{{       else if contains "`" $variableName -}}
{{         $title = printf "`%s.`%s" $sectionName $variableName -}}
{{       end -}}
{{       $defaultValue := "*none*" -}}
{{       if eq .type "bool" -}}
{{         $defaultValue = "`false`" -}}
{{       end -}}

### {{ $title }}{{ if .deprecated }} (deprecated){{ end }} { #{{$slug}} }

| Type | Default |
| - | - |
| `{{ .type | default "string" }}` | {{ .default | default $defaultValue }} |

{{ .description }}

{{     end -}}
{{   end -}}
{{ end -}}
