__pycache__
/docs/install.md
/docs/links/articles-podcasts-and-videos.md
/docs/reference/configuration-file/variables.md
/docs/reference/release-history.md
/site

/.venv
/.virtualenv
/venv
/virtualenv
