# Articles

!!! tip

    Recommended article: [Fedora Magazine: Take back your dotfiles with Chezmoi](https://fedoramagazine.org/take-back-your-dotfiles-with-chezmoi/)

| Date | Version | Language | Title |
| ---- | ------- | -------- | ----- |
{{- range reverse .articles }}
| {{ .date }} | {{ .version }} | {{ index . "lang" | default "EN" }} | [{{ .title }}]({{ .url }}) |
{{- end }}
