# Articles, podcasts, and videos

!!! tip

    Recommended article: [Fedora Magazine: Take back your dotfiles with Chezmoi](https://fedoramagazine.org/take-back-your-dotfiles-with-chezmoi/)

!!! tip

    Recommended video: [chezmoi: manage your dotfiles across multiple, diverse machines, securely](https://fosdem.org/2021/schedule/event/chezmoi/)

!!! tip

    Recommended podcast: [Managing Dot Files and an Introduction to Chezmoi](https://www.podfeet.com/blog/2021/07/ccatp-693/)

See mentions of [`chezmoi.io` on
Twitter](https://twitter.com/search?q=chezmoi.io), [`chezmoi dotfiles` on
Twitter](https://twitter.com/search?q=chezmoi+dotfiles), [comments mentioning
`chezmoi` on Hacker
News](https://hn.algolia.com/?query=chezmoi&sort=byPopularity&type=comment),
and [`chezmoi` on Reddit](https://www.reddit.com/search/?q=chezmoi).

| Date | Version | Format | Link |
| ---- | ------- | ------ | ---- |
{{- range mustReverse .articles }}
{{-   $format := index . "format" | default "Text" }}
{{-   $lang := index . "lang" | default "EN" }}
{{-   if ne $lang "EN" }}
{{-     $format = printf "%s (%s)" $format $lang }}
{{-   end }}
| {{ .date }} | {{ .version }} | {{ $format }} | [{{ .title }}]({{ .url }}) |
{{- end }}

To add your article to this page please either [open an
issue](https://github.com/twpayne/chezmoi/issues/new/choose) or submit a pull
request that modifies
`assets/chezmoi.io/docs/links/articles-podcasts-and-videos.md.yaml`.
