# Podcasts

!!! tip

    Recommended podcast: [Managing Dot Files and an Introduction to Chezmoi](https://www.podfeet.com/blog/2021/07/ccatp-693/)

| Date | Version | Language | Title |
| ---- | ------- | -------- | ----- |
{{- range reverse .podcasts }}
| {{ .date }} | {{ .version }} | {{ .lang | default "EN" }} | [{{ .title }}]({{ .url }}) |
{{- end }}
