# Videos

!!! tip

    Recommended video: [chezmoi: manage your dotfiles across multiple, diverse machines, securely](https://fosdem.org/2021/schedule/event/chezmoi/)

| Date | Version | Lang | Title |
| ---- | ------- | ---- | ----- |
{{- range mustReverse .articles }}
{{-   if mustHas "video" (index . "formats") }}
| {{ .date }} | {{ .version }} | {{ .lang | default "EN" | countryFlag }} | [{{ .title }}]({{ .url }}) |
{{-   end }}
{{- end }}
