on:
- push
- pull_request
name: test
jobs:
  format:
    strategy:
      matrix:
        go-version:
        - 1.13.x
        platform:
        - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install gofumports
      run: GO111MODULE=off go get -u mvdan.cc/gofumpt/gofumports
    - name: Checkout
      uses: actions/checkout@v1
    - name: Format
      run: find . -name \*.go | xargs $(go env GOPATH)/bin/gofumports -w
    - name: Check diff
      run: git diff --exit-code