name: govulncheck
on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master
    tags:
    - v*
  schedule:
  - cron: 2 2 * * *
jobs:
  govulncheck:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
    - name: go-version
      id: go-version
      run: |
        echo go-version="$(awk '/GO_VERSION:/ { print $2 }' .github/workflows/main.yml | tr -d \')" >> "${GITHUB_OUTPUT}"
    - uses: golang/govulncheck-action@dd0578b371c987f96d1185abb54344b44352bd58
      with:
        go-version-input: ${{ steps.go-version.outputs.go-version }}
