on:
  pull_request:
  push:
jobs:
  test:
    strategy:
      matrix:
        go-version:
        - 1.14.x
        os:
        - macos-latest
        - ubuntu-latest
        - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout
      uses: actions/checkout@v1
    - name: Download Go modules
      run: go mod download
    - name: Install tools
      if: matrix.os == 'ubuntu-latest'
      run: |
        curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.24.0
        cd $(mktemp -d)
        go mod init tmp
        go get mvdan.cc/gofumpt/gofumports
    - name: Generate
      if: matrix.os == 'ubuntu-latest'
      run: |
        go generate ./...
        git diff --exit-code
    - name: Build
      run: go build ./...
    - name: Run
      run: go run . --version
    - name: Test
      run: go test ./... # FIXME add -race when https://github.com/etcd-io/bbolt/issues/187 is fixed
    - name: Lint
      if: matrix.os == 'ubuntu-latest'
      run: $(go env GOPATH)/bin/golangci-lint run
    - name: Check formatting
      if: matrix.os == 'ubuntu-latest'
      run: |
        find . -name \*.go | xargs $(go env GOPATH)/bin/gofumports -w
        git diff --exit-code
    - name: Check completions
      if: matrix.os == 'ubuntu-latest'
      run: |
        go run . completion bash > completions/chezmoi-completion.bash
        go run . completion fish > completions/chezmoi.fish
        go run . completion zsh > completions/chezmoi.zsh
        git diff --exit-code
    - name: Test release
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo chown root:root /
        sudo snap install goreleaser --classic
        sudo snap install snapcraft --classic
        export PATH=$PATH:/snap/bin
        goreleaser release --skip-publish --snapshot
        # verify that version information is embedded correctly
        ./dist/chezmoi-cgo_linux_amd64/chezmoi --version | tee /dev/stderr | grep -q "chezmoi version v"
        ./dist/chezmoi-cgo_linux_amd64/chezmoi --version | tee /dev/stderr | grep -q "chezmoi version v"
        ./dist/chezmoi-nocgo_linux_386/chezmoi --version | tee /dev/stderr | grep -q "chezmoi version v"
        ./dist/chezmoi-nocgo-snap_linux_386/chezmoi --version | tee /dev/stderr | grep -q "chezmoi version v"
  release:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    needs:
    - test
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.14.x
    - name: Checkout
      uses: actions/checkout@v1
    - name: Download Go modules
      run: go mod download
    - name: Set up Snapcraft
      env:
        SNAPCRAFT_LOGIN: ${{ secrets.SNAPCRAFT_LOGIN }}
      run: |
        sudo snap install snapcraft --classic
        sudo chown root:root /
        echo ${SNAPCRAFT_LOGIN} | snapcraft login --with -
    - name: Release
      env:
        GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
      run: |
        sudo snap install goreleaser --classic
        goreleaser release